<% provide(:title, 'About Us')%>
<%= render 'layouts/header' %>

<div class="container">
 <h1>About Us</h1>
 <p>Gameorama has been developed via passionate video gamer for the passionate video gamers.</p>
</div>

