@import "bootstrap";
@import "font-awesome";
 $grayMediumLight: #eaeaea; 
  section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  padding-bottom:20px;
}

.center h1 {
  margin-bottom: 10px;
}
 #bgVideo
  {
    position: absolute; 
    bottom: 0px; right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; height: auto; 
    z-index: -1000; 
    overflow: hidden;
  }
  
 .panel 
  {
     background-color: rgba(255, 255, 255, 0.9);
  }

  body{   
    margin:0; 
    padding-top: 200px;

  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   text-align: center;
  }

  h2 {
   font-size: 1.2em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
   color: #999;
  }

 p {
   font-size: 1.1em;
   line-height: 1.7em;
  }

 .footerContainer
  {
     width:400px;
     clear: both;
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;  
  }

  #error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

 .userStatsHeader
 {
      font-size:30px;
      color: rgba(107, 197, 255, 1);
 }

 .userStatsContent
 {
      font-size:40px;

      color:#999;
 }

 .padding5
 {
    padding:5px;
 } 

 .userDetailsBg
 {
   background-color: #e4e4e4;
 }

 .userAwardValues
  {
    background-color: rgb(255, 255, 255);
   font-size:20px;
  }
 
 .userAwardLabel
  {
    color:#fff;
  }
 .userXp
  {
    background-color: rgb(87, 181, 201); 
    padding: 5px;
  }

   .userName
   {
     color: rgb(98, 98, 98);
   }
  .userEmail
  {
    color: #8C8683;
  } 
  .userLevel
  {
    padding: 5px; 
background-color: rgb(246, 197, 78);
  }
   
 .marginLeft20
  {
     margin-left:20px;
  } 
 body
 {
    background: #f4f4f4; 
 }
.marginTop20
 {
    margin-top:20px;
 }

.myDiscoveries
{
  background-color: rgb(212, 224, 231);

}


.myFavorites
{
 background-color: #E6F5E5;  
}

.myFavoritesScore
{
  font-size: 30px; 
  color: rgb(96, 157, 203);
}
